<script>
  window.authToken = "<%= assigns[:auth_token] %>"
  console.log("authToken", window.authToken)

  window.userId = "<%= assigns[:user_id] %>"
  console.log("userId", window.userId)
</script>
